<a href="https://colab.research.google.com/github/Octa-p/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน Textbox จะเป็นภาษา Markdown

ข้อดีหนึ่งชอง Python คือมี package สำหรับทำงานต่างๆมากมาย 

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่มีอยู่ในรูปแบบตาราง 

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [ ]:
import pandas # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd # เหมือนกันกับข้างบนแต่ว่า ตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (csv = comma separated value) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [ ]:
data_df = pd.read_csv( 'data.csv' )

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv( 'data.csv' )
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1.   ชื่อห้ามมีเว้นวรรค
2.   (พยายาม)ใช้ภาษาอังกฤษ
3.   ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote
variable_c = variable_a

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

In [ ]:
#ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [ ]:
#(พยายาม)ใช้ภาษาอังกฤษ
#colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3 
ตัวแปร

3

In [ ]:
#ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [ ]:
#ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [ ]:
#ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [ ]:
print(variable1)

1

In [ ]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote
variable_c = variable_a 
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
variable_a + variable_b

TypeError: ignored

In [ ]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [ ]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [ ]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [ ]:
V_X + variable_a # เพราะเราทำให้ V_X เป็น string เลยทำให้บวกกับตัวเลขไม่ได้

TypeError: ignored

In [ ]:
variable_a + V_X # ก็เหมือนกัน แต่ว่าตัวโปรแกรมจะอ่านค่าตัวข้างหน้าก่อนว่า อันนี้เอาไปบวกกับอะไร

TypeError: ignored

In [ ]:
V_X

'-29.200000000000003'

In [ ]:
float(V_X)

-29.200000000000003

## Data Structure
### list()

In [ ]:
list_a = [1,2,0.2,'abs'] # [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b)

4

In [ ]:
list_b[3]

[1, 2, 0.0]

In [ ]:
list_b[3][1]

2

string คือ list ของ ตัวหนังสือ

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4] # ตัวที่ 4 เป็นช่องว่าง

' '

## วิธ๊สร้าง list ว่าง

In [ ]:
list_c = list() #แบบที่ 1
list_d = [] #แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

เติมค่าลงไปใน list (.append())

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append(56)

In [ ]:
list_d

['a', 56]

การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก  0 
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1]

[1, 2, 0.0]

### list slicing

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [ ]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [ ]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1] # การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [ ]:
a

'Stat KKU'

In [ ]:
a[5::]

'KKU'

In [ ]:
a[5:8]

'KKU'

In [ ]:
a[-3::1]

'KKU'

In [ ]:
a[-3::]

'KKU'

## list + list

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string



```python 
f'string{ตัวแปร}'
```

เรียกว่า Curely Bracket

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop



```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
    do something
```

In [ ]:
for i in [1,2,3,4,5]:
  print(i+1)

  print('x')

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
   print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [ ]:
for i in range(2,7,2):
  print(i)

2
4
6

In [ ]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5):
  print('hahaha')
  x = i+3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested loop

In [ ]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition

In [3]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long, try again!')
elif len(input_pass) < len(password):
    print('Too short , try again!')
else:
    print('Wrong password, tey again!')

Wrong password, tey again!

Quiz 1 หา min

In [4]:
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10.30 :Quiz1)

In [6]:
list_ex[-3]

-19

In [8]:
min = 10000000  #กำหนดให้มีค่าเยอะๆไว้ก่อน
for i in list_ex:
    if i < min:
      min = i
print(min)

-19

In [10]:
min = 10000000  #กำหนดให้มีค่าเยอะๆไว้ก่อน
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
      print(f'i < min, update min -> {i}')
      min = i
    else:
      print('i >= min, not update')
    print('end condition, go to next i')
print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 10000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19

HW ตัดเกรด

In [11]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] #ตัดเกรดคะแนนใน list_score (ใช้ if กับ for)

## Function