<a href="https://colab.research.google.com/github/Octa-p/DWDM21/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/DWDM2021_DATA'
data_cases = pd.read_csv(os.path.join(path, 'confirmed-cases.csv'))
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

##Meta Data (Data ใช้อธิบาย Data)

## ชี้ข้อมูลในตาราง

### ชี้แบบธรรมดา ใช้ [ชื่อ column][index]

In [10]:
data_cases['risk']

0         คนต่างชาติเดินทางมาจากต่างประเทศ
1         คนต่างชาติเดินทางมาจากต่างประเทศ
2         คนต่างชาติเดินทางมาจากต่างประเทศ
3         คนต่างชาติเดินทางมาจากต่างประเทศ
4         คนต่างชาติเดินทางมาจากต่างประเทศ
                        ...
512617                    ทัณฑสถาน/เรือนจำ
512618                    ทัณฑสถาน/เรือนจำ
512619                    ทัณฑสถาน/เรือนจำ
512620                    ทัณฑสถาน/เรือนจำ
512621                    ทัณฑสถาน/เรือนจำ
Name: risk, Length: 512622, dtype: object

In [6]:
data_cases['risk'][678]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [9]:
data_cases[['age', 'risk', 'sex']]

         age                              risk   sex
0       61.0  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
1       74.0  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
2       73.0  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
3       68.0  คนต่างชาติเดินทางมาจากต่างประเทศ   ชาย
4       66.0  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
...      ...                               ...   ...
512617   NaN                  ทัณฑสถาน/เรือนจำ   ชาย
512618   NaN                  ทัณฑสถาน/เรือนจำ   ชาย
512619   NaN                  ทัณฑสถาน/เรือนจำ   ชาย
512620   NaN                  ทัณฑสถาน/เรือนจำ   ชาย
512621   NaN                  ทัณฑสถาน/เรือนจำ   ชาย

[512622 rows x 3 columns]

### ชี้แบบ .lioc[] (มองข้อมูลเป็น matrix)

In [11]:
data_cases.iloc[678,8]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [12]:
data_cases.iloc[-10:,4:9:2]

        age nationality              risk
512612  NaN         NaN  ทัณฑสถาน/เรือนจำ
512613  NaN         NaN  ทัณฑสถาน/เรือนจำ
512614  NaN         NaN  ทัณฑสถาน/เรือนจำ
512615  NaN         NaN  ทัณฑสถาน/เรือนจำ
512616  NaN         NaN  ทัณฑสถาน/เรือนจำ
512617  NaN         NaN  ทัณฑสถาน/เรือนจำ
512618  NaN         NaN  ทัณฑสถาน/เรือนจำ
512619  NaN         NaN  ทัณฑสถาน/เรือนจำ
512620  NaN         NaN  ทัณฑสถาน/เรือนจำ
512621  NaN         NaN  ทัณฑสถาน/เรือนจำ

In [15]:
data_cases.iloc[-10:,[3,4,8]]

         sex  age              risk
512612  หญิง  NaN  ทัณฑสถาน/เรือนจำ
512613   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512614   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512615   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512616   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512617   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512618   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512619   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512620   ชาย  NaN  ทัณฑสถาน/เรือนจำ
512621   ชาย  NaN  ทัณฑสถาน/เรือนจำ

In [16]:
data_cases.describe()

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

In [17]:
from matplotlib import pyplot as plt

# Missing Values

* NaN = Not a Number
* Null
* NA = Not Avaliable

In [18]:
data_cases.isnull()

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
512617  False          False  ...               True               True
512618  False          False  ...               True               True
512619  False          False  ...               True               True
512620  False          False  ...               True               True
512621  False          False  ...               True               True

[512622 rows x 11 columns]

In [19]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

# Handing Missing Value 1 (ลบค่า missing ออก)

Quiz 3 ให้หาว่า การทำ dropna() ทำให้ข้อมูลหายไปกี่ %

In [24]:
print(f'size before drop = {data_cases.shape[0]}')
print(f'size after drop = {data_cases.dropna().shape[0]}')

size before drop = 512622
size after drop = 362205